name: CD Lightsail Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install Lightsail CLI plugin
        run: |
          sudo apt-get update && sudo apt-get install -y unzip
          curl -L https://lightsail-downloads.s3.amazonaws.com/lsctl/lsctl-linux-amd64.zip -o lsctl.zip
          unzip lsctl.zip
          chmod +x lsctl
          sudo mv lsctl /usr/local/bin/lightsailctl
        

      - name: Build Docker image
        run: |
          docker build --no-cache --progress=plain -t ci-cd-ia:latest .

      - name: Push image to Lightsail
        run: |
          aws lightsail push-container-image \
            --service-name ci-cd-ia \
            --label latest \
            --image ci-cd-ia:latest

      - name: Deploy container to Lightsail
        run: |
          aws lightsail create-container-service-deployment \
            --service-name ci-cd-ia \
            --containers file://lightsail-containers.json \
            --public-endpoint file://lightsail-public-endpoint.json
